{% extends 'base_index.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'index/css/index.css' %}">
{% endblock %}
{% block titulo %}Murilo Barbosa{% endblock %}
{% block body %}
<label class="titulo">Meus Padrinhos</label>
<hr>
<form class="formulario">
    <div class="campo">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class="campo">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required>
    </div>
    <div class="botoes">
        <input type="submit" value="Enviar">
        <a href="#">Cadastrar</a>
    </div>
</form>
{% endblock %}
